button {
    margin: 20px;
}

#player-1-field {
    background: violet;
    margin: 20px;
    border: red;
}
#logo {
    height: 165px;
width: 220px;
}

#background {
    background-image: url(https://i.imgur.com/P82aZzM.png);
    background-repeat: repeat;

}

#footer {
    padding-top: 80px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    font-size: 12px;
    text-align: center;
    padding: 10px 0px;
    color: #ffffff;
      border-top: 10px solid #343a40;
    }
