button {
    margin: 20px;
}

#logo {
    height: 165px;
width: 220px;
}

body {
    background-image: url(https://i.imgur.com/P82aZzM.png);
    background-repeat: repeat;

}

footer {
    padding-top: 100px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    font-size: 12px;
    text-align: center;
    padding: 10px 0px;
    color: #ffffff;
      border-top: 10px solid #343a40;
    }

.jumbotron {
    background: none;
    width: 80%;
    margin: auto;
}

.chat-form {
    align-items: center;
}

.card-header {
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    background-color: #a2a76b;
}

.move {
    text-align: center;
}

/*hide items*/
.hello {
    display: none;
}
.moves {
    display: none;
}
.choice {
    display: none;
}
.turn {
    display: none;
}
.alert { display: none; }

.chat-row {
    display: none;
    text-align: center;
}